.dart_tool/
.idea/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
dist/
coverage/
android/.gradle/
android/local.properties
windows/flutter/ephemeral/
*.iml
*.log
.env
.env.*
supabase/.temp/
tool/supabase_defines.json
